{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
	body {
		background-image: url("/static/bg.png")
	}


	  #background {
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    left: 0px;
	    top: 0px;
	    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
	  }

	  .stretch {
	      width:100%;
	      height:100%;
	  }
	/* Style the collapsible content. Note: hidden by default */
	.collapsible_content {
	  padding: 0 28px;
	  display: none;
	  overflow: hidden;
	}

	/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

  #headerusername, #headersurvey_name, #headerproject_name, #headerjobrole_name,
	#headerproject_id,#headersurvey_id,	#headerjobrole_id, #headercsrf_token,
	#headersubmit {
		display: none;
	}
	form {
		opacity: 0.98;
	}
	p, blockquote {
		color: white;
	}
  form {
		color: black;
	}
	form {
		background-color: black;
	}
	label[for="csrf_token"], label[for="project_name"],
	label[for="survey_name"], label[for="jobrole_name"],
	label[for="username"], label[for="submit"],
	label[for="project_id"], label[for="survey_id"],
	label[for="jobrole_id"]
	{
	    display:none;
	}
	input[id="submit"] {
		font-size: 25px;
	}
	input[type=checkbox] {
	  vertical-align: middle;
	  float: right;
	}
	.afield {
	  background-color: white;
		font-family: arial;
	}

	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	.active, label:hover {
		background-color: #ccc;
	}
.navbar {
	background-color: #f2a900;
	color: black;
	font-weight: bold;
}
.mainp {
background-color: black;
color: white;

	opacity: 0.8;
font-weight: bold;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
{% endblock %}

{% block title %}
Operational Maturity Matrix
{% endblock %}


{% block content %}
<div id="background">
    <img src="/static/gears.gif" class="stretch" alt="background image" />
</div>


    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

					<a class="anchor" id="top"></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="animated infinite pulse delay-10s navbar-brand">{{ project_name }} Operational Maturity Matrix</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="animated slideInLeft delay-1s">{{ username }}'s evaluation [{{ jobrole_name }}'s cut]</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right animated slideInRight delay-0s">
            <li><button class="btn btn-dark"><a href="/">Abandon this survey for the homepage</a></button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br />
<br />

<div class="container">
    <div class="mainp row">
      <div class="col-xs-12">
        </div>
        </div>
			<br/>
			<p class="mainp lead"><b>Thank you for contributing to the <big>{{ survey_name }}</big> matrix benchmark!</b>

				<blockquote class="mainp">	Almost all quality improvement comes from <br/>simplifcation of design, manufacturing, layout,<br/> process, procedure, hardware or software. - Tom Peters (author of "<i>In Search of Excellence</i>" published 1982)
				</blockquote>


				<b><kbd>INSTRUCTIONS:</kbd></b>
				<b><kbd>You only really need to expand the highest level of each dimension that can meet 100%.
				<br/>
				If you can't complete Recoverability level 1, you don't need to review Recoverability level 2 questions until level 1 is achieved in production.</kbd></b>
			<form action="/survey/submitted" method="POST">
			   {% for field in form %}
			       <h4 id="header{{ field.name }}" class="collapsible">{{ field.label() }}</h4>
						 <div class="collapsible_content">
			       <div class="afield">{{ field() }}</div>
						 </div>
			   {% endfor %}

				<br/>
    		<input class="btn btn-default" id="submit" name="submit" type="submit" value="Complete Survey">
				 </form>
 			 {{ surveyname }}

       <!-- {{ wtf.quick_form(form) }} -->

    </div>

    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>

</div>
<!--- http://jsfiddle.net/hungerpain/eK8X5/7/ --->
<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
	    this.classList.toggle("active");
	    var content = this.nextElementSibling;
	    if (content.style.display === "block") {
	      content.style.display = "none";
	    } else {
	      content.style.display = "block";
	    }
	  });
	}
</script>
{% endblock %}
