{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
  #background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
  }

  .stretch {
      width:100%;
      height:100%;
  }
	form {
		opacity: 0.6;
	}
	p, blockquote, form {
		color: white;
	}
	form {
		background-color: #0f8dad;
	}
	label[for="csrf_token"]
	{
	    display:none;
	}
	label[for="submit"]
	{
		color: red;
	}
	input[type=checkbox] {
	  vertical-align: middle;
	  float: right;
	}
	label {
	  display: block;
	  overflow: hidden;
	  width: 900px;
		padding-left: 20px;
		padding-top: 5px;
	}
.navbar {
	background-color: #f2a900;
	color: black;
	font-weight: bold;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
{% endblock %}

{% block title %}
Operational Maturity Matrix
{% endblock %}


{% block content %}
<div id="background">
    <img src="/static/wayne.gif" class="stretch" alt="background image" />
</div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

					<a class="anchor" id="top"></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="animated hinge delay-1s navbar-brand">{{ project_name }} Operational Maturity Matrix</a>
          <b class="animated jackInTheBox delay-001s navbar-brand">Vote recorded!</b>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="animated hinge delay-2s">{{ username }}'s evaluation [{{ jobrole_name }}'s cut]</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<br />
<br />

<div class="container">
    <div class="row">
      <div class="col-xs-12">
        </div>
        </div>
			<br/>
 			 {{ surveyname }}
       <font color="white"><h3 class="animated hinge delay-4s">{{ message }}</h3></font>
       <br/>
       <br/>
       <p>
       Thanks for your opinion!
       <br/>
       Your recurring participation in this survey is how we'll track our progress. This isn't a one stop shot.
       <br/>
       Try to work on at least 1-2 operational improvements per quarter and you'll make great progess!
       </p>
       <br />
       <button class="btn btn-dark"><a href="/">Homepage</a></button>
       <br />
       <br />
       <button class="btn btn-dark"><a href="/summary/detail/{{ survey_id }}">Review the Survey Results</a></button>
       <br />
       <br />
       <br />
       <br />
       <img width=210 height=180 src="/static/voted.png"></img>
       <img width=230 height=180 src="/static/profituptime.png"></img>
       <img class="pull-right" width=180 height=180 src="/static/techdebt.png"></img>
       <img class="pull-right" width=210 height=180 src="/static/workedfineindev.png"></img>

    </div>

    <div class="row">
      <div class="col-xs-12">

      {% if form.csrf_token.errors %}
          <div class="warning">You have submitted an invalid CSRF token</div>
      {% endif %}
      </div>
    </div>
  </div>

</div>
<!--- http://jsfiddle.net/hungerpain/eK8X5/7/ --->
<script>

</script>
{% endblock %}
